/*===================================
=            Page Styles            =
===================================*/

@import '../../assets/styles/constants/layout';
@import '../../assets/styles/helpers/units';

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	width: rem($wrapper-width);
	max-width: 90%;
	margin: 0 auto;
}
